<footer id="footer">
  <div class="container">
      <!-- Single Line Footer -->
      <div class="row single-line-footer">
          <div class="col-sm-12">
              &copy; 2020 IndustrySwarm Pty Ltd
          </div>
      </div>
      <!-- / Single Line Footer -->
  </div>
</footer>