<div class="collapse navbar-collapse navbar-right-custom">
  {{#authorised}}<p style="font-size: 10px; text-transform: uppercase; text-align: right; margin-right: 10px; margin-top:30px;"><em><strong>Signed In as</strong> {{userName}}</em></p>{{/authorised}}
</div>